body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
	width: 350px;
   	height: 370px;
    border: solid;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
}

.tab-button {
    background-color: yellow;
    font-size: 17px;
    height: 50px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.tab-button.active {
    border: solid;
}

.tab-content {
    display: none;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.tab-content.active {
    display: block;
}

.tab-content > h2 {
    background-color: yellow;
    padding: 5px;
}