body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
	width: 350px;
   	height: 350px;
    border: solid;
}

.tab-buttons {
    display: flex;
    background-color: #f1f1f1;
}

.tab-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    flex: 1;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 15px;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.tab-content.active {
    display: block;
}
